:root{
  --bar-width: 40px;
  --bar-height: 4px;
  --hamburger-gap:6px;
  --hamburger-margin:2em;
}

.hamburger-menu{
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  padding: 1em;
  z-index: 3;
  background: black;
   display: none; 
}

.hamburger-menu::before,.hamburger-menu::after, .hamburger-menu input{
content: '';
width: var(--bar-width);
height: var(--bar-height);
background: rgb(255, 254, 254);
border-radius: 99999px;
}



.hamburger-menu input{
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.Sidebar {
  background: white;
  position: sticky;
  top: 5%;
  overflow-y: auto;  
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .logo{
  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.SidebarList .logo img{
  width: 50%;
}

.SidebarList .fila {
  width: 100%;
  height: 3em;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: larger;
  text-decoration: none;
  position: relative;
}

.SidebarList .fila:hover
 {
  cursor: pointer; 
}

.fila .icono {
  flex: 30%;
  display: grid;
  place-items: center;
}
.fila .titulos-sidebar {
  flex: 70%;  
}

.SidebarList .fila::before {
 content: '';
 display: block;
 height: 2px;
 width: 10px;
 background-color: red;
 position: absolute;
 left: 20%;
 transition:  ease-out 250ms;
}
.SidebarList .fila:hover::before, .SidebarList .fila.active::before{
  height: 1px;
  width: 9em;
 }


 .SidebarList .fila::after {
content: '';
display: block;
height: 1px;
width: 8em;
background-color: hsl(0, 1%, 60%,50%);
position: absolute;
bottom: 0;
 }


@media screen and (max-width: 768px) {

}
@media all and (min-width: 769px) and (max-width: 991px) {
  .SidebarList .fila {
    flex-direction: column;
    padding: 2em 0em;    
  }
}

@media only screen and (max-width: 600px) {
    .Sidebar{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;           
    }
    .SidebarList .fila{
      width: 100%;
    }
    .SidebarList .logo img{
      width: 40%;
    }
    .SidebarList {
        width: 100%;
    }
    .hamburger-menu{
      display: flex;
    }
    .Sidebar{
      position: absolute;
      transition: transform 200ms ease-in-out, height 200ms ease-in-out;
      transform: translateY(-100%) ;        
      z-index: 2;
      top: 0;
      width: 100%;
    }
    
    .hamburger-menu:has(input:checked) + .Sidebar{      
      transform: translateY(0) ;
      
    }

}